@import 'Variables';
@import 'Mixins';

.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  .containerMain{
    margin-top: 50px;
  }
  .containerMain__total{
    @include flex();
    margin-top: 20px;
   
  }