@import 'Variables';
@import 'Mixins';

.footer {
  @include flex();
  margin-bottom: 20px;
  font-size: 12px;
  font-family: $typo2;
  font-weight: 200;
  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
  &__item {
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 5px;
    @media (min-width: 768px) {
      margin-left: 8px;
      margin-right: 8px; 
    }
  }
}

.icon {
  color: $color9;
  @media (min-width: 768px) {
    font-size: 16px;
  }
  &:hover {
    color: $color6;
    transform: scale(1.2);
    transition: all 0.1s ease-in-out;
  }
}