@import 'Variables';
@import 'Mixins';

.containerHeader{
    @include flexColumn();
    margin-top: 20px;
    &__title{
        @include flexColumn();
        margin-top: 10px;
        @media (min-width: 768px) {
            margin-top: 30px; 
        }
        &--title{
            color: $color1;
            font-family: $typo1;
            font-size: 35px;
            @media (min-width: 768px) { 
                font-size: 50px;
            }
        }
        &--subtitle{
            color: $color4;
            font-family: $typo3;
            @media (min-width: 768px) { 
                font-size: 18px;
            }
    }
}   
}
