@import 'Variables';
@import 'Mixins';

.containerHeader{
    @include flexColumn();
    margin-top: 20px;
}
.containerHeader__watermelons{
    @include flex();
    transform: scale(80%);
}
.containerHeader__title{
    @include flexColumn();
    margin-top: 10px;
    
}
.containerHeader__title--title{
    color: $color1;
    font-family: $typo1;
    font-size: 35px;
}
.containerHeader__title--subtitle{
    color: $color4;
    font-family: $typo3;
}