@import 'Variables';
@import 'Mixins';

.containerItem{
    @include flex();
    background-color: $color3;
    border-radius: 20px;
    margin-top: 5px;
    padding: 10px;
    width: 280px;
    text-transform: capitalize;
}

.containerItem__item--name{
    margin-left: 5px;
    margin-right: 10px;
}

.containerItem__item--icon{
    color:$color9;
    font-size: 16px;
}

.containerItem__counter{
    background-color: $color5;
    border-radius: 20px;
    padding:  5px 15px 5px 15px;
}

.containerItem__counter--btnL{
    @include btn();
    margin-right: 5px;   
}
.containerItem__counter--btnR{
    @include btn();
    margin-left: 5px;
}

.containerItem__deleteBtn{
    @include btn();
    margin-left: 10px;
}
.containerItem__deleteBtn--icon{
    color: $color9;
}