@import 'Variables';
@import 'Mixins';

.containerItem{
    @include flexBetween();
    background-color: $color3;
    border-radius: 20px;
    margin-top: 5px;
    padding:  10px 0px 10px 0px;
    width: 280px;
    text-transform: capitalize;
}


// left
.containerItemLeft{
    @include flexStart();
    margin-left: 20px;
}
.containerItemLeft__name{
    margin-left: 5px;
}
.containerItemLeft__icon{
    cursor: pointer;
}


// right
.containerItemRight{
    @include flex();
    margin-right: 20px;
}
.containerItemRight__counter{
    background-color: $color5;
    border-radius: 20px;
    padding:  3px 10px 3px 10px;
}
.containerItemRight__counter--btnL{
    @include btn();
    margin-right: 5px;   
}
.containerItemRight__counter--btnR{
    @include btn();
    margin-left: 5px;
}
.containerItemRight__deleteBtn{
    @include btn();
    margin-left: 10px;
}
