@import 'Variables';
@import 'Mixins';

.containerListItemPrinted{
    @include flexColumn();
    margin-top: 15px;
}

.containerListItemPrinted__list{
    margin-top: 20px;
}

.date{
    margin-top: 20px;
    background-color: $color6;
    border-radius: 20px;
    margin-top: 5px;
    padding:  10px 0px 10px 0px;
    width: 280px;
}