@import 'Variables';
@import 'Mixins';

.containerListItemPrinted{
    @include flexColumn();
    margin-top: 15px;
}

.containerListItemPrinted__list{
    margin-top: 20px;
}
.containerListItemPrinted__footer{
    @include flex();
    margin-top: 20px;
}
.containerListItemPrinted__footer--text{
    color: $color4;
    font-family: $typo3;
}

.date{
    margin-left: 5px;
    color: $color4;
    font-family: $typo3;
}