@import 'Variables';
@import 'Mixins';

.containerMessage{
    @include flexColumn();
    margin-top: 20px;
    width: 280px;
}
.containerMessage__title{
    
}
.containerMessage__subtitle{
    margin-top: 10px;
}

.containerMessage__bold{
    color: $color6;
    font-weight: bold;
    font-size: 18px;
}

.containerMessage__img{
    margin-top: 20px;
    width: 150px;
}