@import 'Variables';
@import 'Mixins';

.containerMessage{
    @include flexColumn();
    margin-top: 20px;
    width: 280px;
}

.containerMessage__subtitle{
    margin-top: 10px;
}

.containerMessage__bold{
    color: $color6B;
    font-weight: bold;
    font-size: 18px;
}

.containerMessage__img{
    margin-top: 20px;
    width: 150px;
}


@media all and (min-width: 768px) {

    .containerMessage__title,
    .containerMessage__subtitle{
      font-size: 16px;
      margin-top: 10px;
    }
    .containerMessage__img{
        margin-top: 50px;
        width: 300px;
    }
}
