@import 'Variables';

@mixin btn() {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 0;
}

@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexBetween() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexColumn() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexColumnEnd() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

@mixin flexColumnStart() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


