// colors
$color1: black;
$color2: white;
$color3: lightcoral;
$color4: #df4a64;
$color5: #f8d8dd;
$color6: #157665;
$color7: #bababa;
$color8: #efefef;
$color9: #54585a;

//typography
$typo1: 'Poppins', sans-serif;
$typo2: 'Roboto Condensed', sans-serif;
$typo3: 'Roboto', sans-serif;

