@import 'Variables';
@import 'Mixins';


.containerWatermelons{
  @include flex();
  transform: scale(80%);
}

.watermelon1 {
    width: 100px;
    height: 50px;
    margin: auto;
    position: relative;
    border-radius: 100px 100px 0 0;
    background-image: radial-gradient($color4 65%, #D0C29B 0, #D0C29B 68%, $color6 0);
    background-size: 100px 100px;
    transform: rotate(200deg);
    position: relative;
    margin-right: 10px;
  }
  .watermelon2 {
    width: 100px;
    height: 50px;
    margin: auto;
    position: relative;
    border-radius: 100px 100px 0 0;
    background-image: radial-gradient($color4 65%, #D0C29B 0, #D0C29B 68%, $color6 0);
    background-size: 100px 100px;
    transform: rotate(150deg);
    position: relative;
    margin-right: 2px;
  }
  .watermelon3 {
    width: 100px;
    height: 50px;
    margin: auto;
    position: relative;
    border-radius: 100px 100px 0 0;
    background-image: radial-gradient($color4 65%, #D0C29B 0, #D0C29B 68%, $color6 0);
    background-size: 100px 100px;
    transform: rotate(170deg);
    position: relative;
    margin-left: -3px;
  }
  .watermelon4 {
   display: none;
  }
  .watermelon5 {
    display: none;
  }
  .watermelon6 {
    display: none;
  }

  .dot {
    width: 5px;
    height: 3px;
    border-radius: 50%;
    background-color: #333;
    position: absolute;
  }
  .dot:nth-child(8n) {
    left: 12px;
    top: 40px;
    transform: rotate(-45deg);
  }
  .dot:nth-child(8n+1) {
    left: 25px;
    top: 30px;
    transform: rotate(15deg);
  }
  .dot:nth-child(8n+2) {
    left: 40px;
    top: 40px;
    transform: rotate(35deg);
  }
  .dot:nth-child(8n+3) {
    left: 40px;
    top: 20px;
    transform: rotate(10deg);
  }
  .dot:nth-child(8n+4) {
    left: 55px;
    top: 30px;
    transform: rotate(120deg);
  }
  .dot:nth-child(8n+5) {
    left: 65px;
    top: 42px;
    transform: rotate(30deg);
  }
  .dot:nth-child(8n+6) {
    left: 70px;
    top: 25px;
    transform: rotate(190deg);
  }
  .dot:nth-child(8n+7) {
    left: 80px;
    top: 37px;
    transform: rotate(310deg);
  }

// RESPONSIVE
  @media all and (min-width: 768px) {

    .containerWatermelons{
      margin-top: 30px;
      transform: scale(110%);
    }
    .watermelon4 {
      display: flex;
      width: 100px;
      height: 50px;
      margin: auto;
      position: relative;
      border-radius: 100px 100px 0 0;
      background-image: radial-gradient($color4 65%, #D0C29B 0, #D0C29B 68%, $color6 0);
      background-size: 100px 100px;
      transform: rotate(200deg);
      position: relative;
      margin-right: 10px;
    }
    .watermelon5 {
      display: flex;
      width: 100px;
      height: 50px;
      margin: auto;
      position: relative;
      border-radius: 100px 100px 0 0;
      background-image: radial-gradient($color4 65%, #D0C29B 0, #D0C29B 68%, $color6 0);
      background-size: 100px 100px;
      transform: rotate(150deg);
      position: relative;
      margin-right: 2px;
    }
    .watermelon6 {
      display: flex;
      width: 100px;
      height: 50px;
      margin: auto;
      position: relative;
      border-radius: 100px 100px 0 0;
      background-image: radial-gradient($color4 65%, #D0C29B 0, #D0C29B 68%, $color6 0);
      background-size: 100px 100px;
      transform: rotate(170deg);
      position: relative;
      margin-left: -3px;
    }
  }
  
